---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: github-oauth-credentials
  namespace: dex
data:
  client-id: "{{ GITHUB_OAUTH_CLIENT_ID_B64 }}"
  client-secret: "{{ GITHUB_OAUTH_CLIENT_SECRET_B64 }}"
