---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: route53-dynamic-dns-aws-secret
  namespace: route53-dynamic-dns
data:
  AWS_ACCESS_KEY_ID: "{{ ROUTE53_DYNAMIC_DNS_AWS_ACCESS_KEY_ID_B64 }}"
  AWS_ACCESS_KEY: "{{ ROUTE53_DYNAMIC_DNS_AWS_ACCESS_KEY_B64 }}"
